/* Light Mode (default) */

:root {
  /* Colors */
  --color-primary: #901bcf;
  --color-positive: #10b981;
  --color-negative: #ef4444;

  --color-bg: #f9fafb;
  --color-card: #ffffff;
  --color-gray: #e5e7eb;
  --skeleton-highlight: #f3f4f6;
  --color-border: hsla(220, 13%, 91%, 0.6);
  --color-filled-icon: #d4a737;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  /* Typography */
  --font-family: "Inter", sans-serif;

  --font-size-xs: 0.75em;
  --font-size-sm: 0.875em;
  --font-size-base: 1em;
  --font-size-lg: 1.125em;
  --font-size-xl: 1.25em;
  --font-size-2xl: 1.5em;
  --font-size-3xl: 2em;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;

  /* Borders / Radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}

/* ------------------------------
   Dark Mode Overrides
   Add 'dark' class to <html> or <body>
------------------------------ */
:root.dark {
  --color-bg: #111827;
  --color-card: #1f2937;
  --color-gray: #374151;
  --skeleton-highlight: #4b5563;
  --color-border: hsla(215, 19%, 27%, 0.5);

  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;

  --color-primary: #901bcf;
  --color-positive: #10b981;
  --color-negative: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
